# question 11 :
How do you extract the year from a datetime column in a DataFrame?
Dataset: Netflix stock price dataset.

In [2]:
import pandas as pd
df = pd.read_csv('NFLX.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   object
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 55.3+ KB
None

In [5]:
# convert the date column to datetime field .
df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'].dt.year)

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
1004    2022
1005    2022
1006    2022
1007    2022
1008    2022
Name: Date, Length: 1009, dtype: int32