# question 14 :
How do you select rows and columns by integer location?
Dataset: Titanic dataset.

In [47]:
import pandas as pd

df = pd.read_csv('tested.csv')

In [48]:
# printing zero index
zero_index = df.iloc[0]
print(zero_index)

PassengerId                 892
Survived                      0
Pclass                        3
Name           Kelly, Mr. James
Sex                        male
Age                        34.5
SibSp                         0
Parch                         0
Ticket                   330911
Fare                     7.8292
Cabin                       NaN
Embarked                      Q
Name: 0, dtype: object

In [49]:
# selecting multiple rows (e.g row 0-4)

cell_0_5 = df.iloc[0:4]
print(cell_0_5)

   PassengerId  Survived  Pclass                              Name     Sex  \
0          892         0       3                  Kelly, Mr. James    male
1          893         1       3  Wilkes, Mrs. James (Ellen Needs)  female
2          894         0       2         Myles, Mr. Thomas Francis    male
3          895         0       3                  Wirz, Mr. Albert    male

    Age  SibSp  Parch  Ticket    Fare Cabin Embarked
0  34.5      0      0  330911  7.8292   NaN        Q
1  47.0      1      0  363272  7.0000   NaN        S
2  62.0      0      0  240276  9.6875   NaN        Q
3  27.0      0      0  315154  8.6625   NaN        S

In [50]:
# selecting multiple cells row 0 col 1 
multiple_cels = df.iloc[0,1]
print(multiple_cels)

0

In [51]:
# selecting the row 0-5 and col 0-3

new_dataset = df.iloc[0:5, 0:3]
print(new_dataset)

   PassengerId  Survived  Pclass
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3