# question 15
How do you perform hierarchical indexing?
Dataset: Sales data with hierarchical index.

In [3]:
import pandas as pd

df = pd.read_csv('tested.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB
None

In [4]:
df.set_index(['SibSp','Parch'], inplace=True)
print(df)

             PassengerId  Survived  Pclass  \
SibSp Parch
0     0              892         0       3
1     0              893         1       3
0     0              894         0       2
      0              895         0       3
1     1              896         1       3
...                  ...       ...     ...
0     0             1305         0       3
      0             1306         1       1
      0             1307         0       3
      0             1308         0       3
1     1             1309         0       3

                                                     Name     Sex   Age  \
SibSp Parch
0     0                                  Kelly, Mr. James    male  34.5
1     0                  Wilkes, Mrs. James (Ellen Needs)  female  47.0
0     0                         Myles, Mr. Thomas Francis    male  62.0
      0                                  Wirz, Mr. Albert    male  27.0
1     1      Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
...                                                   ...     ...   ...
0     0                                Spector, Mr. Woolf    male   NaN
      0                      Oliva y Ocana, Dona. Fermina  female  39.0
      0                      Saether, Mr. Simon Sivertsen    male  38.5
      0                               Ware, Mr. Frederick    male   NaN
1     1                          Peter, Master. Michael J    male   NaN

                         Ticket      Fare Cabin Embarked
SibSp Parch
0     0                  330911    7.8292   NaN        Q
1     0                  363272    7.0000   NaN        S
0     0                  240276    9.6875   NaN        Q
      0                  315154    8.6625   NaN        S
1     1                 3101298   12.2875   NaN        S
...                         ...       ...   ...      ...
0     0               A.5. 3236    8.0500   NaN        S
      0                PC 17758  108.9000  C105        C
      0      SOTON/O.Q. 3101262    7.2500   NaN        S
      0                  359309    8.0500   NaN        S
1     1                    2668   22.3583   NaN        C

[418 rows x 10 columns]